<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flasky Password Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <nav>
             {% if session['admin'] == True %}
            <ul>
                <li><a href="{{url_for('dashboard')}}">Dashboard</a></li>
                <li><a href="{{url_for('register')}}">Register a user</a></li>
                <li><a href="{{url_for('manage_users')}}">Manage Users</a></li>      
                <li><a href="{{url_for('login')}}">Login with another user</a></li>
            </ul>
            <ul>
                <li><a href="{{url_for('website_info')}}">Save sites Information</a></li>
                <li><a href="{{url_for('show_tables')}}">Show tables</a></li>
                <li><a href="{{url_for('show_all_tables')}}">Show tables</a></li>
                <li><a href="{{url_for('reset_password')}}">Change password</a></li>
                <li><a href="{{url_for('logout')}}">Logout</a></li>
            </ul>
                {% elif session['admin'] == False %}
            <ul>
                <li><a href="{{url_for('login')}}">Login with another user</a></li>
                <li><a href="{{url_for('website_info')}}">Save sites Information</a></li>
                <li><a href="{{url_for('show_tables')}}">Show tables</a></li>
                <li><a href="{{url_for('reset_password')}}">Change password</a></li>
                <li><a href="{{url_for('logout')}}">Logout</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <div id="timeout-div">
        <p>
            <span>{{validtoken}}</span>
            <span>Redirecting in: </span>
            <span id="countdown-redirect-login">60</span>
        </p>
        <br>
        <button id="keep-session" onclick="redirectLoginCountdown()">Stay in session</button>
    </div>

    </div>
    <video id="background-video" autoplay muted loop tabindex="-1">
        <source src="{{ url_for('static', filename='video/render.mp4') }}" type="video/webm">
        <source src="{{ url_for('static', filename='video/render.mp4') }}" type="video/mp4">
        Your browser doest not support the video tag.
    </video>
    <main class="container">
        {% block content %}
            {% if 'user' in session %}
                <h2>Welcome to Flasky Password Manager</h2>
                 <p class="welcome-message"> Welcome back {{ session['user'] }} </p>
            {% endif %}
            {% if message %}
                <div class="alert-message" role="alert">
                    {{message}}
                </div>
            {% endif %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; Flasky Password Manager. All rights reserved.</p>
    </footer>
    <script src="{{ url_for('static', filename='js/redirect_timer_login.js') }}"></script>    
</body>
</html>