<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flasky Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
         
        
    </header>
    <main class="container">
    {% block content %}
    
    <h2 name="titlehome", id="titlehome">Welcome to Flasky Password Manager</h2>
    <form name="login" id="loginForm" action="login_validation" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <fieldset><legend> Login </legend>
        <label for="user">Username:</label>
        <br>
        <input type="text" name="user" id="user" value="" placeholder="username" autocomplete="off" required > 
        <br>
        <label for="pasword">Password:</label>
        <br>
        <input type="password" name="password" id="password" value="" placeholder="password" autocomplete="off" required>
        <br>
        <label for="2fatoken">2FA token</label>
        <br>        
        <input type="text" name="2fatoken" id="2fatoken" value="" placeholder="2FA optional" inputmode="numeric" pattern="[0-9]*" autocomplete="off">
        <br>
        <input type="submit" value="Submit"/>
        </fieldset>
    </form>
    <video id="background-video" autoplay muted loop tabindex="-1">
        <source src="{{ url_for('static', filename='video/render.mp4') }}" type="video/webm">
        <source src="{{ url_for('static', filename='video/render.mp4') }}" type="video/mp4">
        <track kind="captions" label="" srclang="en" />
        Your browser doest not support the video tag.
    </video>
    {% if message %}
            <div class="alert-message" role="alert">
                <p>{{message}}</p>
            </div> 
    {% endif %}
        <div class="img-dashboard">
            <img src="{{ url_for('static', filename='images/cat.jpg') }}" alt="coughing cat meme">
        </div>
    {% endblock %}
    <script src="{{ url_for('static', filename='js/refresh_login_session.js') }}"></script>   
    </main> 
    <footer>
        <p>&copy; Flasky Password Manager. All rights reserved.</p>
    </footer>    
</body>
</html>