<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flasky Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    
</head>
<body>
    <main class="container">
    {% block content %}
    <h2 name="titlehome", id="titlehome">Welcome to Flasky Password Manager</h2>
    <form name="login" id="loginForm" action="login_validation" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <fieldset><legend> Login </legend>
        <label for="user">Username:</label>
        <br>
        <input type="text" name="user" id="user" value="" placeholder="username" required> 
        <br>
        <label for="pasword">Password:</label>
        <br>
        <input type="password" name="password" id="password" value="" placeholder="password" required>
        <br>
        <input type="submit" value="Submit"/>
        </fieldset>
    </form>
    <video autoplay muted loop id="background-video">
        <source src="{{ url_for('static', filename='video/render.mp4') }}" type="video/webm">
        <source src="{{ url_for('static', filename='video/render.mp4') }}" type="video/mp4">
        Your browser doest not support the video tag.
    </video>
    {% if 'user' not in session %}
        {% if message %}
            <div class="alert-message" role="alert">
                <p>{{message}}</p>
            </div>
        {% else %}
            <img src="{{ url_for('static', filename='images/cat.jpg') }}" alt="coughing cat meme">
        {% endif %}
    {% endif %}
    {% endblock %}
    </main> 
    <footer>
        <p>&copy; Flasky Password Manager. All rights reserved.</p>
    </footer>    
</body>
</html>