<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flasky Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <video autoplay muted loop id="background-video">
        <source src="{{ url_for('static', filename='video/render.mp4') }}" type="video/webm">
        <source src="{{ url_for('static', filename='video/render.mp4') }}" type="video/mp4">
        Your browser doest not support the video tag.
    </video>
    <main class="container">
    {% block content %}
        <div class="img-dashboard">    
            <h2>Logout</h2>
            <h1>Bye</h1>
            <ul class="logout">
                <li><a href="{{url_for('login')}}">Log back in</a></li>
            </ul>
            <img src="{{ url_for('static', filename='images/officecat.jpg') }}" alt="office cat meme">
        </div>
    </main>
    {% endblock %}
    <footer>
        <p>&copy; Flasky Password Manager. All rights reserved.</p>
    </footer>    
</body>

</html>