{% extends "dashboard.html" %}
{% block content %}
<h1> Manage Users </h1>
<form name="manage_users" id="manageUsers" action="manage_users" method="post">
    <p> By deleting a user you're also deleting all the entries created by that user in the database</p>
    <p> Select which users are going to be deleted, this action is not reversible</p>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>User</th>
                <th>Delete user?</th>     
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user['id'] }}</td> 
                <td>{{ user['user'] }}</td> 
                <td>
                    <input type="checkbox" name="delete_users_ids" value="{{ user['user'] }}">
                </td>
            </tr>
            {% endfor %} 
        </tbody>
    </table>
<br>
<input type="submit" value="Delete Selected User" class="submit-button">
</form>
{% if message %}
    <div class="alert alert-danger" role="alert">
        {{message}}
    </div>
{% else %}
    <img src="{{ url_for('static', filename='images/cat.jpg') }}" alt="coughing cat meme">
{% endif %}  
{% endblock %}




