{% extends "dashboard.html" %}
{% block content %}
<h1> Manage Users </h1>
<form name="manage_users" id="manageUsers" action="manage_users" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <p> By deleting a user you're also deleting all the entries created by that user in the database</p>
    <p> Select which users are going to be deleted, this action is not reversible</p>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>User</th>
                <th>Is admin?</th>
                <th>Is 2FA enabled?</th>     
                <th>Delete user?</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user['id'] }}</td> 
                <td>{{ user['user'] }}</td> 
                <td>
                    {% if user['admin'] == 1 %}
                        Yes
                    {% else %}
                        No
                    {% endif %}
                </td>
                <td>
                    {% if user['two_factor_enabled'] == 1 %}
                        Yes
                    {% else%}
                        No
                    {% endif %}
                </td>
                <td>
                    <input type="checkbox" name="delete_users_ids" value="{{ user['user'] }}">
                </td>
            </tr>
            {% endfor %} 
        </tbody>
    </table>
<br>
<input type="submit" value="Delete Selected User" class="submit-button">
</form>
{% if message %}
    <div class="alert-message" role="alert">
        {{message}}
    </div>
{% endif %}  
    <div class="img-dashboard">
        <img src="{{ url_for('static', filename='images/officecat.jpg') }}" alt="office cat meme">
    </div>
{% endblock %}




