{% extends "home.html" %}
{% block content %}
<h2>Register Form</h2>
    <form name="login"id="formulario"action="register_user" method="post">
        <fieldset><legend> Informacion de usuario a registrar </legend>
        <label for="user">Usuario:</label>
        <br>
        <input type="text" name="user" id="user" value="" placeholder="Usuario" required> 
        <br>
        <label for="pasword">Password:</label>
        <br>
        <input type="password" name="password" id="password" value="" placeholder="Password" required>
        <br>
        <label for="two_factor_enabled">Habilitar 2FA:</label>
        <br>
        <input type="checkbox" name="two_factor_enabled" id="two_factor_enabled" value="Enabled" unchecked>
        <br>
        <input type="submit" value="Enviar"/>
        </fieldset>
    </form>
{% endblock %}
