{% extends "dashboard.html" %} 
{% block content %}
    <form name="reset_password" id="reset_password" action="reset_password" method="post">
        <fieldset><legend> Reset the user password </legend>
        <label for="user">{{ session['user'] }}</label>
        <label for="current_pasword">Current password:</label>
        <input type="password" name="current_password" id="current_pasword" value="" placeholder="Password" required>
        <br>
        <label for="new_password">New password:</label>
        <input type="password" name="new_password" id="new_password" value="" placeholder="Password" required>
        <br>
        <label for="confirm_new_password">Confirm new password:</label>
        <input type="password" name="confirm_new_password" id="confirm_new_password" placeholder="Password" required>
        <br>        
        <input type="submit" value="Submit"/>
        </fieldset>
    </form>
{% endblock %}