{% extends "dashboard.html" %}
{% block content %}
<p> This is the current information saved in the database</p>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Website</th>
            <th>Username</th>
            <th>Password</th>
            <th>Created by:</th>
            <th>Created on:</th>
        </tr>
    </thead>
    <tbody>
        {% for entry in websites %}
        <tr>
            <td>{{ entry['id'] }}</td> 
            <td>{{ entry['website'] }}</td> 
            <td>{{ entry['user'] }}</td> 
            <td>{{ entry['password'] }}</td>
            <td>{{ entry['owner'] }}</td>
            <td>{{ entry['created_at'] }}</td>     
        </tr>
        {% endfor %} 
    </tbody>
</table>
{% if message %}
    <div class="alert-message" role="alert">
        {{message}}
    </div>
{% endif %}  
{% endblock %}