{% extends "dashboard.html" %}
{% block content %}
<h2>Website's info</h2>
    <form name="formulario"id="formulario"action="website_info" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <fieldset><legend> Enter the information of the website </legend>
        <label for="website">Website:</label>
        <input type="text" name="website" id="website" value="" placeholder="www.google.com" required> 
        <br>
        <label for="user">Username:</label>
        <input type="text" name="user" id="user" value="" placeholder="Enter the username" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" value="" placeholder="StrongPassword..." required>
        <br>
        <input type="submit" value="Submit"/>
        </fieldset>
    </form>
        {% if message %}
            <div class="alert-message" role="alert">
                {{message}}
            </div>
            <img src="{{ url_for('static', filename='images/catpc.jpg') }}" alt="cat pc meme">
        {% else %}
            <img src="{{ url_for('static', filename='images/catpc.jpg') }}" alt="cat pc meme">
        {% endif %}    
{% endblock %}