<!doctype html>
<html lang="es">
    <head>
        <title>Formulario de inscripción para eventos</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initia-scale=1"/>
    </head>
    <body>
        <section>
            <form name="formulario"id="formulario"action="agregar_cita" method="post">
                <fieldset><legend> Datos del interesado </legend>
                <label for="telefono">Telefono:</label>
                <br>
                <input type="tel" name="telefono" id="telefono" value="" placeholder="Escribe el telefono aqui..."/> 
                <br>
                <label for="nombre">Nombre:</label>
                <br>
                <input type="text" name="nombre" id="nombre" value="" placeholder="Escribe el nombre aqui...">
                <br>
                <label for="apellido">Primer Apellido:</label>
                <br>
                <input type="text" name="apellido" id="apellido" value="" placeholder="Escribe el primer apellido aqui...">
                <br>
                <input type="submit" value="Enviar"/>
                </fieldset>
            </form>    
        </section>
    </body>
</html>    
